/* 1. Update the following properties to a selector that would nest all other elements on the page:
  - Set the default font family to be `Roboto`
  - Set the text color to `#222`
  - Set line height to `1.4`
  - Update font size to `110%`
  - Set background color to white */
html {
    font-family: 'Roboto', sans-serif;
    color: #222;
    line-height: 1.4rem;
    font-size: 110%;
    background-color: white;
    box-sizing: border-box;
}
/* 2. Select the body 
  - Remove `margin` for all sides on the element */
body {
    margin: 0%;
}
/* 3. Update css to include snippet covered in class to apply `border-box` to calculate widths of elements. */
html {
    box-sizing: border-box;
    }
    *,*::before, *::after {
    box-sizing: inherit;
    }
/* 4.Select img
  - Set the `width` to be `100%` */
img {
    width: 100%;
}
/* 5. Add a class for the logo and update the following in the css
  - Change width to be `160px`
  - Confirm the display property is correctly set so that the logo is displayed on its own line in the browser 
  - Center the logo in the middle of the screen */
.logo {
    width: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* 6. Apply the class of `wrapper` to elements that appear to be contained to a max-width. *Hint: It would not be on the sections as they would span the whole page. Try all divs directly nested within a `section`.  */
/* completed */

/* 7. Select `.wrapper`
  - Give it a max width of 900px;
  - Center the content using the property `margin` without applying specific values. Think automatically calculated on left and right.
  - Add padding to the top and bottom with the value of `1.5em` and set the left and right value to `0` */
.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 0, 1.5em;
  }
/* 8. Select `header`
  - Add padding to the top and bottom with the value of `1.5em` and set the left and right value to `0` */
header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 0%;
    padding-right: 0%;
}
/* 9. Update the `nav` by adjusting the following using the correct selector for the task:
  - Remove bullets
  - Place list items beside one another
  - Remove default padding on the unordered list
  - Center text within the link after padding has been applied to the link */
.nav > ul {
    list-style-type: none;
    padding-inline-start: 0%;
    text-align: center;
  }
.nav > ul > li {
  display: inline;
}
/* 10. Update the `nav` links
  - Apply an appropriate display property value so that you are able to add padding
  - Add padding to the top and bottom with the value of `.5em` and set the left and right value to `.75em` 
  - Give links a `border radius` of `8px` */
  .nav a{
    box-sizing: border-box;
    padding-left: .75em;
    padding-right: .75em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 8px;
  }
/* 11. Update `nav` link states for `link` and `visited`
  - Background color is purple
  - Text color is white
  - Solid border that is 2px solid white
  - Remove underline */
.nav a{
  background-color: purple;
  color: white;
  border: 2px, solid, white;
  text-decoration: none;
}